<!--This template is for the "summary column" in the PDU list view-->
{% if pdu.pdu_name == 'EntityStatePdu' %}
    E: {{ pdu.entityID_entityID }} (F: {{ pdu.forceId }})
{% elif pdu.pdu_name == 'FastEntityStatePdu' %}
    E: {{ pdu.entity }} (F: {{ pdu.forceId }})
{% elif pdu.pdu_name == 'CollisionPdu' %}
    Issuer: {{ pdu.issuingEntityID_entityID }} -> Coll: {{ pdu.collidingEntityID_entityID }}
{% elif pdu.pdu_name == 'CollisionElasticPdu' %}
    Issuer: {{ pdu.issuingEntityID_entityID }} -> Coll: {{ pdu.collidingEntityID_entityID }}
{% elif pdu.pdu_name == 'EntityStateUpdatePdu' %}
    E: {{ pdu.entityID_entityID }}
{% elif pdu.pdu_name == 'FirePdu' %}
    Munition: {{ pdu.munitionExpendibleID_entityID }} (Range: {{ pdu.range }})
{% elif pdu.pdu_name == 'DetonationPdu' %}
    Exploder: {{ pdu.explodingEntityID_entityID }} (Result: {{ pdu.detonationResult }})
{% elif pdu.pdu_name == 'DirectedEnergyFirePdu' %}
    Records: {{ pdu.numberOfDERecords }} (Peak: {{ pdu.peakIrradiance }})
{% elif pdu.pdu_name == 'EntityDamageStatusPdu' %}
    Damaged: {{ pdu.damagedEntityID_entityID }} (Recs: {{ pdu.numberOfDamageDescription }})
{% elif pdu.pdu_name == 'ServiceRequestPdu' %}
    Req: {{ pdu.requestingEntityID_entityID }} (Type: {{ pdu.serviceTypeRequested }})
{% elif pdu.pdu_name == 'ResupplyOfferPdu' %}
    Recv: {{ pdu.receivingEntityID_entityID }} (Supp: {{ pdu.supplyingEntityID_entityID }})
{% elif pdu.pdu_name == 'ResupplyReceivedPdu' %}
    Recv: {{ pdu.receivingEntityID_entityID }} (Supp: {{ pdu.supplyingEntityID_entityID }})
{% elif pdu.pdu_name == 'RepairCompletePdu' %}
    Recv: {{ pdu.receivingEntityID_entityID }} (Rep: {{ pdu.repairingEntityID_entityID }})
{% elif pdu.pdu_name == 'RepairResponsePdu' %}
    Recv: {{ pdu.receivingEntityID_entityID }} (Result: {{ pdu.repairResult }})
{% elif pdu.pdu_name == 'CreateEntityPdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'RemoveEntityPdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'StartResumePdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'StopFreezePdu' %}
    ReqID: {{ pdu.requestID }} (Reason: {{ pdu.reason }})
{% elif pdu.pdu_name == 'AcknowledgePdu' %}
    ReqID: {{ pdu.requestID }} (Flag: {{ pdu.acknowledgeFlag }})
{% elif pdu.pdu_name == 'ActionRequestPdu' %}
    ReqID: {{ pdu.requestID }} (ActID: {{ pdu.actionID }})
{% elif pdu.pdu_name == 'ActionResponsePdu' %}
    ReqID: {{ pdu.requestID }} (Status: {{ pdu.requestStatus }})
{% elif pdu.pdu_name == 'DataQueryPdu' %}
    ReqID: {{ pdu.requestID }} (Interval: {{ pdu.timeInterval }})
{% elif pdu.pdu_name == 'SetDataPdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'DataPdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'EventReportPdu' %}
    Type: {{ pdu.eventType }}
{% elif pdu.pdu_name == 'CommentPdu' %}
    Fixed: {{ pdu.numberOfFixedDatumRecords }} | Var: {{ pdu.numberOfVariableDatumRecords }}
{% elif pdu.pdu_name == 'ElectronicEmissionsPdu' %}
    Emitter: {{ pdu.emittingEntityID_entityID }} (Systems: {{ pdu.numberOfSystems }})
{% elif pdu.pdu_name == 'DesignatorPdu' %}
    Desig: {{ pdu.designatingEntityID_entityID }} -> Target: {{ pdu.designatedEntityID_entityID }}
{% elif pdu.pdu_name == 'UaPdu' %}
    Emitter: {{ pdu.emittingEntityID_entityID }} (Shafts: {{ pdu.numberOfShafts }})
{% elif pdu.pdu_name == 'SeesPdu' %}
    Origin: {{ pdu.orginatingEntityID_entityID }}
{% elif pdu.pdu_name == 'IntercomSignalPdu' %}
    Entity: {{ pdu.entityID_entityID }} (Device: {{ pdu.communicationsDeviceID }})
{% elif pdu.pdu_name == 'TransmitterPdu' %}
    Radio: {{ pdu.radioNumber }} (Power: {{ pdu.power }})
{% elif pdu.pdu_name == 'SignalPdu' %}
    Samples: {{ pdu.samples|length }}
{% elif pdu.pdu_name == 'ReceiverPdu' %}
    State: {{ pdu.receiverState }} (Power: {{ pdu.receivedPower }})
{% elif pdu.pdu_name == 'IntercomControlPdu' %}
    Source: {{ pdu.sourceEntityID_entityID }} (Cmd: {{ pdu.command }})
{% elif pdu.pdu_name == 'IsPartOfPdu' %}
    Orig: {{ pdu.orginatingEntityID_entityID }} -> Recv: {{ pdu.receivingEntityID_entityID }}
{% elif pdu.pdu_name == 'MinefieldStatePdu' %}
    Minefield: {{ pdu.minefieldID_minefieldNumber }} (Points: {{ pdu.numberOfPerimeterPoints }})
{% elif pdu.pdu_name == 'MinefieldResponseNackPdu' %}
    Minefield: {{ pdu.minefieldID_entityID }} (Missing: {{ pdu.numberOfMissingPdus }})
{% elif pdu.pdu_name == 'PointObjectStatePdu' %}
    Obj: {{ pdu.objectID_entityID }} (Ref: {{ pdu.referencedObjectID_entityID }})
{% elif pdu.pdu_name == 'LinearObjectStatePdu' %}
    Obj: {{ pdu.objectID_entityID }} (Segments: {{ pdu.numberOfSegments }})
{% elif pdu.pdu_name == 'ArealObjectStatePdu' %}
    Obj: {{ pdu.objectID_entityID }} (Points: {{ pdu.numberOfPoints }})
{% elif pdu.pdu_name == 'CreateEntityReliablePdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'RemoveEntityReliablePdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'StartResumeReliablePdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'StopFreezeReliablePdu' %}
    ReqID: {{ pdu.requestID }} (Reason: {{ pdu.reason }})
{% elif pdu.pdu_name == 'AcknowledgeReliablePdu' %}
    ReqID: {{ pdu.requestID }} (Flag: {{ pdu.acknowledgeFlag }})
{% elif pdu.pdu_name == 'ActionRequestReliablePdu' %}
    ReqID: {{ pdu.requestID }} (ActID: {{ pdu.actionID }})
{% elif pdu.pdu_name == 'ActionResponseReliablePdu' %}
    ReqID: {{ pdu.requestID }} (Status: {{ pdu.responseStatus }})
{% elif pdu.pdu_name == 'DataQueryReliablePdu' %}
    ReqID: {{ pdu.requestID }} (Interval: {{ pdu.timeInterval }})
{% elif pdu.pdu_name == 'SetDataReliablePdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'DataReliablePdu' %}
    ReqID: {{ pdu.requestID }}
{% elif pdu.pdu_name == 'EventReportReliablePdu' %}
    Type: {{ pdu.eventType }}
{% elif pdu.pdu_name == 'CommentReliablePdu' %}
    Fixed: {{ pdu.numberOfFixedDatumRecords }} | Var: {{ pdu.numberOfVariableDatumRecords }}
{% elif pdu.pdu_name == 'RecordQueryReliablePdu' %}
    ReqID: {{ pdu.requestID }} (Records: {{ pdu.numberOfRecords }})
    {% else %}
{{ pdu.raw_payload|length }} bytes
    {% endif %}